
body {
    margin: 0;
    padding: 0;
}

body, div {
    color: white;
    font-family: 'Work Sans', sans-serif;
}

#header {
    background-color: black;
    position: relative;
    height: 100px;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10px;
}

h2 {
    padding-left: 15px;
}

ul, ol {
    margin-top: 5px;
}

li {
    margin-bottom: 5px;
}

#segment_name {
    display: inline-block;
}

#to_days_pane {
    padding-top: 10px;
    padding-right: 10px;
    font-size: 2.5em;
    float: right;
}

#body {
    overflow: hidden;
    height: calc(100vh - 100px);
}

#map {
    height: 100%;
    width: calc(100vw - 400px);
    float: left;
}

#infopane {
    background-color: black;
    height: 100%;
    width: 400px;
    float: right;
    position: relative;
    overflow-y: auto;
}

#segment {
    overflow-y: auto;
}

#days {
    height: calc(100% - 140px);
    overflow-y: auto;
}

#segment_pane {
    display: none;
}

#total {
    height: 140px;
    width: 100%;
    position: absolute;
    bottom: 0%;
}

.leaflet-popup-tip, .leaflet-popup-content-wrapper {
    background: black;
    color: #ffffff;
}